.lark-exports-table th.status,
.lark-exports-table td.status {
  max-width: 80px;
  font-size: small;
  text-align: center;
}

.lark-exports-row {}
.lark-exports-row--in-sync {}
.lark-exports-row--not-imported {
  color: dimgray;
}
.lark-exports-row--out-of-sync {
  background-color: #fffdf8;
  color: #8a6200;
  border-color: #8a6200;
}
.lark-exports-row--not-exported {
  background-color: #fff6f6;
  color: darkred;
  border-color: darkred;
}

.lark-asset-details-container {
  margin: 1em;
  padding: 1em;
  border-top: 1px solid #bbb;
}

img.lark-asset-thumbnail-image {
  max-width: 300px;
  max-height: auto;
  height: auto;
}

table.lark-diff-table td {
  height: unset;
  font-family: monospace;
  white-space: pre;
}

.lark-yaml-export-pre {
  font-size: 0.9em;
  white-space: pre;
  border: 1px solid #ddd;
  border-top-color: #bbb;
  padding: 4px 8px;
  overflow: scroll;
  max-height: 80vh;
  max-width: 1024px;
  width: 98%;
}
