.lark-exports-table th.status,
.lark-exports-table td.status {
  max-width: 80px;
  font-size: small;
  text-align: center;
}

.lark-exports-row {}
.lark-exports-row--in-sync {}
.lark-exports-row--not-imported {
  color: dimgray;
}
.lark-exports-row--out-of-sync {
  background-color: #fffdf8;
  color: #8a6200;
  border-color: #8a6200;
}
.lark-exports-row--not-exported {
  background-color: #fff6f6;
  color: darkred;
  border-color: darkred;
}

.lark-asset-details-container {
  margin: 1em;
  padding: 1em;
  border-top: 1px solid #bbb;
}

img.lark-asset-thumbnail-image {
  max-width: 300px;
  max-height: auto;
  height: auto;
}

table.lark-diff-table td {
  height: unset;
  font-family: monospace;
  white-space: pre;
}

.lark-yaml-export-pre {
  font-size: 0.9em;
  white-space: pre;
  border: 1px solid #ddd;
  border-top-color: #bbb;
  padding: 4px 8px;
  overflow: scroll;
  max-height: 80vh;
  max-width: 1024px;
  width: 98%;
}

/*
 * Exportables table form.
 */
table.lark-exportables-table-form {}
table.lark-exportables-table-form th.status-icon,
table.lark-exportables-table-form td.status-icon {
  width: 50px;
  text-align: center;
}

/*
 * Status summary table.
 */
table.lark-status-summary-table {
  width: auto;
  max-width: 260px;
}
table.lark-status-summary-table th,
table.lark-status-summary-table td {
  padding: 0;
  height: 2em;
  font-weight: normal;
}
table.lark-status-summary-table thead th {
  background: transparent;
}
table.lark-status-summary-table .summary-heading {
  font-style: italic;
  padding: 2px 12px;
}
table.lark-status-summary-table .summary-container {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 2px 12px;
}
table.lark-status-summary-table .summary-count {
  display: block;
  padding: 2px 12px;
}
table.lark-status-summary-table .summary-container-active,
table.lark-status-summary-table .summary-count-active {
  font-weight: bold;
}
table.lark-status-summary-table .summary-container-empty,
table.lark-status-summary-table .summary-count-empty {
  font-style: italic;
  font-size: 0.9rem;
}
